fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic[email]==2.9.2
sqlalchemy==2.0.35
pymysql==1.1.1
python-dotenv==1.0.1
pyjwt==2.9.0
bcrypt==4.0.1
scikit-learn==1.5.2
joblib==1.4.2
numpy==1.26.4
spacy==3.8.13
transformers==4.44.2
torch==2.4.1
firebase-admin==6.5.0
slowapi==0.1.9
stripe
